@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,800&display=swap');

:root{
    /* Primary */
--Purple: hsl(259, 100%, 65%);
--Light-red: hsl(0, 100%, 67%);
/* Neutral */

--White: hsl(0, 0%, 100%);
--Off-white: hsl(0, 0%, 94%);
--Light-grey: hsl(0, 0%, 86%);
--Smokey-grey: hsl(0, 1%, 44%);
--Off-black: hsl(0, 0%, 8%);
}
body{
    font-family: "Poppins";
    display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: var(--Off-white);
}
.container{
    display: flex;
    flex-direction: column;
    background-color: var(--White);
    padding: 40px;
    border-radius: 15px 15px 100px 15px;
}

#date{
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#date div{
    display: flex;
    flex-direction: column;

}
#day, #month, #year{
    border: 2px solid var(--Light-grey);
    background-color: var(--White);
    border-radius: 5px;
    padding-left: 5px;
    font-size: 25px;
    width: 70px;
    height: 40px;
}
#day:active, #month:active, #year:active{
    border: 2px solid var(--Smokey-grey);
}
#date>div>label{
    font-weight: bold;
    font-size: 12px;
    font-stretch:expanded;
    color: var(--Smokey-grey);
}
#button{
    width: 25px;
    height: 25px;
    padding: 15px;
    background-color: var(--Purple);
    border-radius: 50%;
}

.line{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
hr{
    margin: 0;
    width: 80%;
    height: 0.5px;
    
    color: var(--Light-grey);
}
#button:hover{
    background-color: var(--Off-black);
}

#result{
    align-items: flex-start;
    font-weight: 800;
    color: var(--Off-black);
    font-size: 40px;
}
.number-holder{
    color: var(--Purple);
}

.attribution {

    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 375px) {
.container{
    width: 60vw;
    height: 60vh;
}}
/* }
@media only screen and (min-width: 1440px) {
    .container{
        width: 60vw;
        height: 60vh;
    }
} */